<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <!-- Header: The Tech Blog -->
    <h1>Tech Blog</h1>

    <!-- Signup Section -->
    <div class="row">
        <div class="col-md-6">
            <!-- Signup Title -->
            <h2>Signup</h2>

            <!-- Signup Form -->
            <form class="form signup-form">
                <!-- Username Input Field -->
                <div class="form-group">
                    <label for="username-signup">Username:</label>
                    <input class="form-input" type="text" id="username-signup" />
                </div>

                <!-- Password Input Field -->
                <div class="form-group">
                    <label for="password-signup">Password:</label>
                    <input class="form-input" type="password" id="password-signup" />
                </div>

                <!-- Signup Button -->
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Signup</button>
                </div>

                <!-- Login Link -->
                <div class="login-group">
                    <a href="/profile">Login Instead</a>
                </div>
            </form>
            <!-- End of Signup Form -->
        </div>
    </div>
    <!-- End of Signup Section -->

    <!-- Include JavaScript for Interactivity -->
    <script src="./js/signup.js"></script>
</body>
</html>
